# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#temp files
*~

#binaries
bin/Debug/*
bin/Release/*

#ptx files
*.ptx

#scene folders
conference
crytek-sponza
dragon
sibenik
sponza
teapot
cornell-box
head
san-miguel
powerplant
