# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#temp files
*~

#ptx files
*.ptx

#scene folders
conference
crytek-sponza
dragon
sibenik
sponza
teapot

